.image {
    height: 200px;
    margin: 1px 3px;
    object-fit: cover;
    width: 15%;
}

.showed {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.hidden {
    opacity: 0;
    transition: opacity 500ms ease-in;
}